{% extends "list.html" %}
{% load static %}
{% block head_list %}
    <script src="{% static 'store/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">Número de almacen</th>
        <th scope="col">Municipio</th>
        <th scope="col">Colonia</th>        
        <th scope="col">Calle</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    
{% endblock %}

{% block javascript %}

{% endblock %}